@charset "ISO-8859-1";
body{
	background-color: lightcyan;
	text-align: center;
	padding: 50px;
}
button{
	border: none;
	border-radius: 10px;
	background-color: deepskyblue;
font-family: Georgia, 'Times New Roman', Times, serif;
	padding: 6px;
}
h2{
	font-family: Georgia, 'Times New Roman', Times, serif;
}